<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="ENV" source="spring.profiles.active"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%yellow([%d{yyyy-MM-dd HH:mm:ss.SSS}]):%highlight([%-5level]):%green([${ENV}]):[%t]%cyan([%c{1}]):[%green(%line)]:[%boldMagenta(%X{httpMethod})]:%boldMagenta(%X{path}) - %m%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                ${CONSOLE_LOG_PATTERN}
            </Pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
